.bg {
    width: 1920px;
    height: 1080px;
    background-image: url("../assets/image/index_bg.png");
    background-repeat: no-repeat;
}
.logo {
    position: absolute;
    left: 713px;
    top: 180px;
    width: 493px;
    height: 267px;
    background-image: url("../assets/image/index_logo.png");
    background-repeat: no-repeat;
}
.text {
    position: absolute;
    left: 630px;
    top: 512px;
    width: 663px;
    height: 120px;
    background-image: url("../assets/image/index_text.png");
    background-repeat: no-repeat;
}
.menu_0 {
    position: absolute;
    left: 881px;
    top: 722px;
    width: 164px;
    height: 23px;
    cursor: pointer;
    background-image: url("../assets/image/index_button.png");
    background-repeat: no-repeat;
}
.address {
    position: absolute;
    left: 730px;
    top: 969px;
    width: 471px;
    height: 75px;
    background-image: url("../assets/image/index_address.png");
    background-repeat: no-repeat;
}