.bg {
    width: 1920px;
    height: 1080px;
    background-image: url("../assets/image/main_bg.png");
    background-repeat: no-repeat;
}

.sport {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background-image: url("../assets/image/main_sport.png");
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    left: 796px;
    top: 436px;
    width: 320px;
    height: 173px;
    background-image: url("../assets/image/main_logo.png");
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    left: 453px;
    top: 92px;
    width: 913px;
    height: 849px;
}

.menu_0 {
    position: absolute;
    left: 445px;
    top: 50px;
    width: 138px;
    height: 75px;
    cursor: pointer;
}

.menu_1 {
    position: absolute;
    left: 663px;
    top: 113px;
    width: 190px;
    height: 182px;
    cursor: pointer;
}

.menu_2 {
    position: absolute;
    left: 757px;
    top: 294px;
    width: 126px;
    height: 197px;
    cursor: pointer;
}

.menu_3 {
    position: absolute;
    left: 687px;
    top: 490px;
    width: 196px;
    height: 253px;
    cursor: pointer;
}

.menu_4 {
    position: absolute;
    left: 536px;
    top: 703px;
    width: 152px;
    height: 126px;
    cursor: pointer;
}
