.bg {
    width: 1920px;
    height: 1080px;
    background-image: url("../assets/image/main_bg.png");
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    left: 453px;
    top: 148px;
    width: 882px;
    height: 778px;
}

.menu_0 {
    position: absolute;
    left: 445px;
    top: 0px;
    width: 138px;
    height: 75px;
    cursor: pointer;
}

.menu_1 {
    position: absolute;
    left: 663px;
    top: 63px;
    width: 190px;
    height: 182px;
    cursor: pointer;
}

.menu_2 {
    position: absolute;
    left: 757px;
    top: 244px;
    width: 126px;
    height: 197px;
    cursor: pointer;
}

.menu_3 {
    position: absolute;
    left: 687px;
    top: 440px;
    width: 196px;
    height: 253px;
    cursor: pointer;
}

.menu_4 {
    position: absolute;
    left: 536px;
    top: 653px;
    width: 152px;
    height: 126px;
    cursor: pointer;
}
